---
import { Picture } from "astro:assets";
import Layout from "../components/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Solutions" id="solutions">
  <!-- Solutions Sections -->

  <section class="hero solutions-hero relative">
    <div class="overlay absolute top-0 left-0 w-full h-full z-1">
      <img
        src="/solutions-hero.png"
        class="w-full h-full object-cover"
        alt=""
      />
    </div>
    <div
      class="container mx-auto flex flex-col items-center justify-center gap-8 min-h-[500px] pt-20 md:pt-40 relative z-2"
    >
      <div class="gradient-container grandientHeading">
        <h1
          class="hero clamp-h1 font-medium leading-[99%] tracking-[-1.04px] text-center"
        >
          Less Downtime. More<br class="hidden sm:inline" /> Dollars
        </h1>
      </div>
      <!-- 
      <div class="notice flex items-center gap-4">
        <p class="text-[20px]">Designed and Engineered in the USA</p><svg
          width="23"
          height="17"
          viewBox="0 0 23 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_595_250)">
            <path d="M0 0H22.6667V17H0" fill="#BD3D44"></path>
            <path
              d="M0 1.95856H22.6667H0ZM0 4.56877H22.6667H0ZM0 7.1896H22.6667H0ZM0 9.81043H22.6667H0ZM0 12.4313H22.6667H0ZM0 15.0521H22.6667H0Z"
              fill="black"></path>
            <path
              d="M0 1.30334V2.61376H22.6667V1.30334H0ZM0 3.91355V5.22397H22.6667V3.91355H0ZM0 6.53439V7.8448H22.6667V6.53439H0ZM0 9.15522V10.4656H22.6667V9.15522H0ZM0 11.7761V13.0865H22.6667V11.7761H0ZM0 14.3969V15.7073H22.6667V14.3969H0Z"
              fill="white"></path>
            <path d="M0 0H12.92V9.15521H0" fill="#192F5D"></path>
            <path
              d="M11.8292 7.72084L12.1479 8.67709L11.3333 8.07501H12.325L11.5104 8.67709L11.8292 7.72084ZM9.70415 7.72084L10.0229 8.67709L9.20832 8.07501H10.2L9.3854 8.67709L9.70415 7.72084ZM7.54373 7.72084L7.86248 8.67709L7.0479 8.07501H8.03957L7.22498 8.67709L7.54373 7.72084ZM5.38332 7.72084L5.70207 8.67709L4.88748 8.07501H5.87915L5.06457 8.67709L5.38332 7.72084ZM3.2229 7.72084L3.54165 8.67709L2.72707 8.07501H3.71873L2.90415 8.67709L3.2229 7.72084ZM1.06248 7.72084L1.38123 8.67709L0.56665 8.07501H1.55832L0.743734 8.67709L1.06248 7.72084ZM10.7667 6.8L11.0854 7.75625L10.2708 7.15417H11.2625L10.4479 7.75625L10.7667 6.8ZM8.60623 6.8L8.92498 7.75625L8.1104 7.15417H9.10207L8.28748 7.75625L8.60623 6.8ZM6.48123 6.8L6.79998 7.75625L5.9854 7.15417H6.97707L6.16248 7.75625L6.48123 6.8ZM4.32082 6.8L4.63957 7.75625L3.82498 7.15417H4.81665L4.00207 7.75625L4.32082 6.8ZM2.1604 6.8L2.47915 7.75625L1.66457 7.15417H2.65623L1.84165 7.75625L2.1604 6.8ZM11.8292 5.87917L12.1479 6.83542L11.3333 6.23334H12.325L11.5104 6.83542L11.8292 5.87917ZM9.70415 5.87917L10.0229 6.83542L9.20832 6.23334H10.2L9.3854 6.83542L9.70415 5.87917ZM7.54373 5.87917L7.86248 6.83542L7.0479 6.23334H8.03957L7.22498 6.83542L7.54373 5.87917ZM5.38332 5.87917L5.70207 6.83542L4.88748 6.23334H5.87915L5.06457 6.83542L5.38332 5.87917ZM3.2229 5.87917L3.54165 6.83542L2.72707 6.23334H3.71873L2.90415 6.83542L3.2229 5.87917ZM1.06248 5.87917L1.38123 6.83542L0.56665 6.23334H1.55832L0.743734 6.83542L1.06248 5.87917ZM10.7667 4.99375L11.0854 5.95L10.2708 5.34792H11.2625L10.4479 5.95L10.7667 4.99375ZM8.60623 4.99375L8.92498 5.95L8.1104 5.34792H9.10207L8.28748 5.95L8.60623 4.99375ZM6.48123 4.99375L6.79998 5.95L5.9854 5.34792H6.97707L6.16248 5.95L6.48123 4.99375ZM4.32082 4.99375L4.63957 5.95L3.82498 5.34792H4.81665L4.00207 5.95L4.32082 4.99375ZM2.1604 4.99375L2.47915 5.95L1.66457 5.34792H2.65623L1.84165 5.95L2.1604 4.99375ZM11.8292 4.07292L12.1479 5.02917L11.3333 4.42709H12.325L11.5104 5.02917L11.8292 4.07292ZM9.70415 4.07292L10.0229 5.02917L9.20832 4.42709H10.2L9.3854 5.02917L9.70415 4.07292ZM7.54373 4.07292L7.86248 5.02917L7.0479 4.42709H8.03957L7.22498 5.02917L7.54373 4.07292ZM5.38332 4.07292L5.70207 5.02917L4.88748 4.42709H5.87915L5.06457 5.02917L5.38332 4.07292ZM3.2229 4.07292L3.54165 5.02917L2.72707 4.42709H3.71873L2.90415 5.02917L3.2229 4.07292ZM1.06248 4.07292L1.38123 5.02917L0.56665 4.42709H1.55832L0.743734 5.02917L1.06248 4.07292ZM10.7667 3.15209L11.0854 4.10834L10.2708 3.50625H11.2625L10.4479 4.10834L10.7667 3.15209ZM8.60623 3.15209L8.92498 4.10834L8.1104 3.50625H9.10207L8.28748 4.10834L8.60623 3.15209ZM6.48123 3.15209L6.79998 4.10834L5.9854 3.50625H6.97707L6.16248 4.10834L6.48123 3.15209ZM4.32082 3.15209L4.63957 4.10834L3.82498 3.50625H4.81665L4.00207 4.10834L4.32082 3.15209ZM2.1604 3.15209L2.47915 4.10834L1.66457 3.50625H2.65623L1.84165 4.10834L2.1604 3.15209ZM11.8292 2.23125L12.1479 3.1875L11.3333 2.58542H12.325L11.5104 3.1875L11.8292 2.23125ZM9.70415 2.23125L10.0229 3.1875L9.20832 2.58542H10.2L9.3854 3.1875L9.70415 2.23125ZM7.54373 2.23125L7.86248 3.1875L7.0479 2.58542H8.03957L7.22498 3.1875L7.54373 2.23125ZM5.38332 2.23125L5.70207 3.1875L4.88748 2.58542H5.87915L5.06457 3.1875L5.38332 2.23125ZM3.2229 2.23125L3.54165 3.1875L2.72707 2.58542H3.71873L2.90415 3.1875L3.2229 2.23125ZM1.06248 2.23125L1.38123 3.1875L0.56665 2.58542H1.55832L0.743734 3.1875L1.06248 2.23125ZM10.7667 1.31042L11.0854 2.26667L10.2708 1.66459H11.2625L10.4479 2.26667L10.7667 1.31042ZM8.60623 1.31042L8.92498 2.26667L8.1104 1.66459H9.10207L8.28748 2.26667L8.60623 1.31042ZM6.48123 1.31042L6.79998 2.26667L5.9854 1.66459H6.97707L6.16248 2.26667L6.48123 1.31042ZM4.32082 1.31042L4.63957 2.26667L3.82498 1.66459H4.81665L4.00207 2.26667L4.32082 1.31042ZM2.1604 1.31042L2.47915 2.26667L1.66457 1.66459H2.65623L1.84165 2.26667L2.1604 1.31042ZM11.8292 0.389587L12.1479 1.34584L11.3333 0.743754H12.325L11.5104 1.34584L11.8292 0.389587ZM9.70415 0.389587L10.0229 1.34584L9.20832 0.743754H10.2L9.3854 1.34584L9.70415 0.389587ZM7.54373 0.389587L7.86248 1.34584L7.0479 0.743754H8.03957L7.22498 1.34584L7.54373 0.389587ZM5.38332 0.389587L5.70207 1.34584L4.88748 0.743754H5.87915L5.06457 1.34584L5.38332 0.389587ZM3.2229 0.389587L3.54165 1.34584L2.72707 0.743754H3.71873L2.90415 1.34584L3.2229 0.389587ZM1.06248 0.389587L1.38123 1.34584L0.56665 0.743754H1.55832L0.743734 1.34584L1.06248 0.389587Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_595_250">
              <rect width="22.6667" height="17" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div> -->
      <div class="breadcrumps flex items-center gap-2 mt-4 text-white/60">
        <a href="/" class="hover:text-white transtion duration-300">Home</a>
        <span>/</span>
        <span>Solutions</span>
      </div>
    </div>
  </section>

  <div class="solution-slides">
    <div class="slide tune">
      <div class="content-wrapper">
        <div class="content">
          <section
            class="fade-up-section lg:min-h-[600px] lg:max-h-[800px] relative flex flex-col pt-6 pb-20 md:pt-2 md:pb-0 overflow-x-hidden"
          >
            <div
              class="overlay absolute bottom-0 overflow-hidden left-0 w-full h-full"
            >
              <img
                src="/lines-carpet.svg"
                class="w-full h-full cover -bottom-30 absolute left-0"
                alt=""
              />
            </div>
            <div class="overlay absolute bottom-0 left-0 w-full h-full">
              <img
                src="/solutions-glow.png"
                class="w-fit h-full cover absolute top-1/2 left-0 transform -translate-y-1/2"
                alt=""
              />
            </div>
            <div
              class="container mx-auto relative z-3 grid gap-8 md:gap-20"
              style="max-width:1000px !important;"
            >
              <div class="title flex items-center justify-between">
                <h2
                  class="gradientSmallHeading text-2xl md:text-4xl font-medium leading-[50px]"
                >
                  EnergyTune™
                </h2>
                <div class="icon max-w-[30px] md:max-w-full">
                  <img
                    src="/energy-rectangle.svg"
                    alt=""
                    class="w-full h-full object-cover"
                  />
                </div>
              </div>
              <div class="items grid grid-cols-1 md:grid-cols-4 gap-4">
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px] z-0"
                    style="background: #ffffff05;backdrop-filter: blur(40px);"
                  >
                  </div>
                  <div class="icon flex place-content-center relative z-1">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M60.4002 20.2339L59.0017 17.8068C57.944 15.9713 57.4153 15.0536 56.5154 14.6876C55.6156 14.3216 54.5978 14.6104 52.5627 15.188L49.1054 16.1618C47.8061 16.4614 46.4427 16.2914 45.2564 15.6818L44.3018 15.1311C43.2844 14.4795 42.5018 13.5187 42.0686 12.3894L41.1225 9.56345C40.5003 7.69339 40.1892 6.75836 39.4486 6.22354C38.7082 5.68872 37.7245 5.68872 35.757 5.68872H32.5984C30.6313 5.68872 29.6475 5.68872 28.9069 6.22354C28.1664 6.75836 27.8553 7.69339 27.2332 9.56345L26.287 12.3894C25.8538 13.5187 25.0713 14.4795 24.0539 15.1311L23.0994 15.6818C21.9129 16.2914 20.5497 16.4614 19.2503 16.1618L15.7929 15.188C13.7576 14.6104 12.74 14.3216 11.8402 14.6876C10.9404 15.0536 10.4116 15.9713 9.35391 17.8068L7.95543 20.2339C6.96402 21.9544 6.4683 22.8147 6.56452 23.7305C6.66071 24.6463 7.32433 25.3843 8.65155 26.8603L11.5728 30.1262C12.2868 31.03 12.7937 32.6054 12.7937 34.0217C12.7937 35.4387 12.287 37.0135 11.5729 37.9176L8.65155 41.1836C7.32433 42.6597 6.66074 43.3975 6.56452 44.3135C6.4683 45.2293 6.96402 46.0895 7.95543 47.8099L9.35388 50.2369C10.4115 52.0723 10.9404 52.9903 11.8402 53.3561C12.74 53.7222 13.7577 53.4335 15.793 52.8558L19.2501 51.8819C20.5498 51.5822 21.9133 51.7525 23.0999 52.3622L24.0542 52.913C25.0714 53.5647 25.8538 54.5252 26.2869 55.6545L27.2332 58.4808C27.8553 60.3508 28.1664 61.2858 28.9069 61.8207C29.6475 62.3554 30.6313 62.3554 32.5984 62.3554H35.757C37.7245 62.3554 38.7082 62.3554 39.4486 61.8207C40.1892 61.2858 40.5003 60.3508 41.1225 58.4808L42.0689 55.6545C42.5018 54.5252 43.2841 53.5647 44.3015 52.913L45.2558 52.3622C46.4424 51.7525 47.8058 51.5822 49.1054 51.8819L52.5627 52.8558C54.5978 53.4335 55.6156 53.7222 56.5154 53.3561C57.4153 52.9903 57.944 52.0723 59.0017 50.2369L60.4002 47.8099C61.3916 46.0895 61.8872 45.2293 61.7911 44.3135C61.6948 43.3975 61.0312 42.6597 59.7041 41.1836L56.7826 37.9176C56.0686 37.0135 55.5617 35.4387 55.5617 34.0217C55.5617 32.6054 56.0689 31.03 56.7826 30.1262L59.7041 26.8603C61.0312 25.3843 61.6948 24.6463 61.7911 23.7305C61.8872 22.8147 61.3916 21.9544 60.4002 20.2339Z"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"></path>
                        <path
                          d="M43.9719 34C43.9719 39.4769 39.5321 43.9167 34.0553 43.9167C28.5784 43.9167 24.1387 39.4769 24.1387 34C24.1387 28.5232 28.5784 24.0834 34.0553 24.0834C39.5321 24.0834 43.9719 28.5232 43.9719 34Z"
                          stroke="white"
                          stroke-width="4.25"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content relative z-1 flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Custom Power Optimization
                    </h5>
                    <p class="text-center md:text-left">
                      Customize power targets per miner to balance performance
                      and energy use
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px]"
                    style="background: #ffffff05;"
                  >
                  </div>
                  <div class="icon flex place-content-center">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M34.0007 59.5C34.7917 59.5 35.5273 59.1396 36.998 58.4188L48.8201 52.6255C54.0516 50.0616 56.6673 48.7798 56.6673 46.75V21.25M34.0007 59.5C33.2096 59.5 32.474 59.1396 31.0033 58.4188L19.1811 52.6255C13.9497 50.0616 11.334 48.7798 11.334 46.75V21.25M34.0007 59.5V34"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M31.0033 9.58117C32.474 8.8604 33.2096 8.5 34.0007 8.5C34.7917 8.5 35.5273 8.8604 36.998 9.58117L48.8201 15.3747C54.0516 17.9383 56.6673 19.2201 56.6673 21.25C56.6673 23.2799 54.0516 24.5617 48.8201 27.1253L36.998 32.9188C35.5273 33.6396 34.7917 34 34.0007 34C33.2096 34 32.474 33.6396 31.0033 32.9188L19.1811 27.1253C13.9497 24.5617 11.334 23.2799 11.334 21.25C11.334 19.2201 13.9497 17.9383 19.1811 15.3747L31.0033 9.58117Z"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Flexible Operating Modes
                    </h5>
                    <p class="text-center md:text-left">
                      Choose ECO for max efficiency or Turbo for peak hashrate
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px]"
                    style="background: #ffffff05;"
                  >
                  </div>
                  <div class="icon flex place-content-center">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M42.5 29.75C42.5 34.4445 38.6945 38.25 34 38.25C29.3054 38.25 25.5 34.4445 25.5 29.75C25.5 25.0556 29.3054 21.25 34 21.25C38.6945 21.25 42.5 25.0556 42.5 29.75Z"
                          stroke="white"
                          stroke-width="4.25"></path>
                        <path
                          d="M56.7049 35.1427C58.195 34.6948 58.9401 34.4707 59.2201 34.0944C59.5 33.7181 59.5 33.1129 59.5 31.9028V27.5975C59.5 26.3873 59.5 25.7822 59.2201 25.4058C58.9401 25.0295 58.195 24.8056 56.7049 24.3578C51.9934 22.9421 49.0424 18.0554 50.101 13.3275C50.45 11.768 50.6246 10.9882 50.4345 10.5602C50.2441 10.1323 49.7128 9.83243 48.6506 9.23275L44.7528 7.0327C43.7163 6.44764 43.1981 6.15513 42.7374 6.21035C42.2767 6.26554 41.7191 6.78739 40.6039 7.8311C36.9322 11.2679 31.0717 11.2678 27.4 7.83088C26.285 6.78716 25.7275 6.26532 25.2667 6.2101C24.8059 6.15487 24.2877 6.44742 23.2512 7.03244L19.3535 9.2325C18.2911 9.83214 17.76 10.1319 17.5697 10.5599C17.3794 10.9878 17.5539 11.7676 17.9029 13.3273C18.9608 18.0554 16.0076 22.9422 11.2952 24.3579C9.80498 24.8055 9.05987 25.0294 8.77993 25.4057C8.5 25.7821 8.5 26.3872 8.5 27.5975V31.9028C8.5 33.1129 8.5 33.7181 8.7799 34.0944C9.05981 34.471 9.80495 34.6948 11.2952 35.1425C16.0067 36.5583 18.9576 41.4449 17.899 46.1729C17.5499 47.7324 17.3753 48.5121 17.5656 48.9402C17.7558 49.3681 18.287 49.6678 19.3494 50.2676L23.2471 52.4677C24.2837 53.0528 24.802 53.3452 25.2628 53.29C25.7236 53.2347 26.281 52.7128 27.3958 51.669C31.0695 48.2293 36.9345 48.2291 40.6082 51.669C41.7231 52.7125 42.2804 53.2344 42.7411 53.2897C43.2021 53.3449 43.7203 53.0525 44.7567 52.4674L48.6546 50.2674C49.7171 49.6675 50.2483 49.3678 50.4384 48.9397C50.6288 48.5118 50.454 47.7321 50.1047 46.1726C49.0456 41.4449 51.9942 36.5583 56.7049 35.1427Z"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"></path>
                        <path
                          d="M62.3327 51C62.3327 53.635 62.3327 54.9525 62.0431 56.0334C61.2572 58.9665 58.9658 61.2578 56.0328 62.0438C54.9519 62.3333 53.6344 62.3333 50.9994 62.3333H16.9993C14.3644 62.3333 13.047 62.3333 11.966 62.0438C9.03278 61.2578 6.74161 58.9665 5.95564 56.0334C5.66602 54.9525 5.66602 53.635 5.66602 51"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Uninterrupted Operation
                    </h5>
                    <p class="text-center md:text-left">
                      Modify power settings instantly—no reboots, no downtime
                    </p>
                  </div>
                </div>
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px]"
                    style="background: #ffffff05;"
                  >
                  </div>
                  <div class="icon flex place-content-center">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M32.624 5.93089C33.5086 5.57854 34.4917 5.57854 35.3763 5.93089C38.2278 7.06646 38.7848 11.4394 42.1494 11.6828C44.5186 11.8542 46.8437 9.87914 49.2211 10.4712C50.1799 10.71 51.0081 11.3214 51.5272 12.1736C53.1172 14.785 51.065 18.6232 53.6587 20.7901C55.4607 22.2948 58.4379 22.1001 60.0045 23.9447C60.6641 24.7218 60.9882 25.7352 60.9035 26.7571C60.6528 29.797 56.7771 31.6982 57.6288 34.9743C58.2181 37.2421 60.7052 38.8365 60.9035 41.2428C60.9882 42.2648 60.6641 43.2783 60.0045 44.0552C58.0359 46.3728 53.7791 45.6095 52.5517 48.7509C51.6898 50.9558 52.7965 53.7418 51.5272 55.8263C51.0081 56.6785 50.1799 57.29 49.2211 57.5288C46.2691 58.2638 43.2728 55.0927 40.4321 56.8814C38.404 58.1581 37.6773 61.1532 35.3763 62.0689C34.4917 62.4214 33.5086 62.4214 32.624 62.0689C30.3231 61.1532 29.5963 58.1581 27.5682 56.8814C24.7627 55.1151 21.6812 58.2513 18.7792 57.5288C17.8203 57.29 16.9922 56.6785 16.4733 55.8263C14.8833 53.2151 16.9351 49.3765 14.3416 47.2098C12.54 45.705 9.5625 45.9 7.99595 44.0552C7.33626 43.2783 7.01221 42.2648 7.09667 41.2428C7.29557 38.8365 9.78197 37.2421 10.3716 34.9743C11.2147 31.7324 7.34428 29.7525 7.09667 26.7571C7.01221 25.7352 7.33626 24.7218 7.99595 23.9447C9.96432 21.6263 14.2206 22.3905 15.4486 19.2491C16.3106 17.0442 15.2041 14.2581 16.4733 12.1736C16.9922 11.3214 17.8203 10.71 18.7792 10.4712C21.1568 9.87914 23.4816 11.8543 25.8509 11.6828C29.2155 11.4394 29.7725 7.06646 32.624 5.93089Z"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linejoin="round"></path>
                        <path
                          d="M25.5 37.7777C25.5 37.7777 27.9792 37.7777 30.4583 42.5C30.4583 42.5 38.3333 30.6944 45.3333 28.3334"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Easy Configuration
                    </h5>
                    <p class="text-center md:text-left">
                      Fine-tune settings via web console or API
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="slide hash">
      <div class="content-wrapper">
        <div class="content" style="background-color: #0475FF;">
          <section
            class="fade-up-section lg:min-h-[600px] lg:max-h-[800px] relative flex flex-col pt-6 pb-20 md:pt-2 md:pb-0 overflow-x-hidden"
          >
            <div
              class="overlay absolute bottom-0 overflow-hidden left-0 w-full h-full"
            >
              <img
                src="/lines-carpet-white.svg"
                class="w-full h-full cover -bottom-30 absolute left-0"
                alt=""
              />
            </div>
            <div class="overlay absolute bottom-0 right-0 w-full h-full">
              <img
                src="/hash-overlay.png"
                class="w-fit h-full cover absolute bottom-0 right-0"
                alt=""
              />
            </div>
            <div
              class="container mx-auto relative z-3 grid gap-8 md:gap-16"
              style="max-width:1000px !important;"
            >
              <div class="title flex items-center justify-between">
                <h2
                  class="text-2xl md:text-4xl leading-[30px] font-medium md:leading-[50px]"
                >
                  Resilient Hash Board Architecture
                </h2>
                <div class="icon max-w-[30px] md:max-w-full">
                  <svg
                    class="w-full h-full object-cover"
                    width="63"
                    height="63"
                    viewBox="0 0 63 63"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16.5375 7.2225C13.8095 7.72986 11.8018 8.62725 10.2145 10.2145C8.62725 11.8018 7.72986 13.8095 7.2225 16.5375M46.4625 7.2225C49.1904 7.72986 51.1983 8.62725 52.7856 10.2145C54.3727 11.8018 55.2702 13.8095 55.7776 16.5375M36.4875 6.57549C34.9534 6.5625 33.2952 6.5625 31.5 6.5625C29.7048 6.5625 28.0466 6.5625 26.5125 6.57549M56.4244 26.5125C56.4375 28.0466 56.4375 29.7048 56.4375 31.5C56.4375 33.2952 56.4375 34.9534 56.4244 36.4878M6.57549 26.5125C6.5625 28.0466 6.5625 29.7048 6.5625 31.5C6.5625 33.2952 6.5625 34.9534 6.57552 36.4878M7.2225 46.4625C7.72986 49.1904 8.62725 51.1983 10.2145 52.7856C11.8018 54.3727 13.8095 55.2702 16.5375 55.7776M55.7776 46.4625C55.2702 49.1904 54.3727 51.1983 52.7856 52.7856C51.1983 54.3727 49.1904 55.2702 46.4625 55.7776M36.4875 56.4244C34.9534 56.4375 33.2952 56.4375 31.5 56.4375C29.705 56.4375 28.0468 56.4375 26.513 56.4244"
                      stroke="white"
                      stroke-width="3.9375"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M24.0187 31.5H38.9813M51.45 31.5H56.4375M6.5625 31.5H11.55M31.5 24.0187V38.9813M31.5 6.5625V11.55M31.5 51.45V56.4375"
                      stroke="white"
                      stroke-width="3.9375"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <defs>
                      <linearGradient
                        id="paint0_linear_2037_40"
                        x1="92.996"
                        y1="39"
                        x2="92.996"
                        y2="147"
                        gradientUnits="userSpaceOnUse"
                      >
                        <stop stop-color="#0475FF"></stop>
                        <stop offset="1" stop-color="white"></stop>
                      </linearGradient>
                      <linearGradient
                        id="paint1_linear_2037_40"
                        x1="93.0039"
                        y1="77.248"
                        x2="93.0039"
                        y2="108.748"
                        gradientUnits="userSpaceOnUse"
                      >
                        <stop stop-color="#0475FF"></stop>
                        <stop offset="1" stop-color="white"></stop>
                      </linearGradient>
                      <linearGradient
                        id="paint2_linear_2037_40"
                        x1="93.0039"
                        y1="2.99805"
                        x2="93.0039"
                        y2="182.998"
                        gradientUnits="userSpaceOnUse"
                      >
                        <stop stop-color="#0475FF"></stop>
                        <stop offset="1" stop-color="white"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
              </div>
              <div class="items grid grid-cols-1 md:grid-cols-4 gap-4">
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease;border: 1px solid;border-image-source: linear-gradient(330.52deg, rgba(9, 59, 152, 0.27) 4.17%, rgba(255, 255, 255, 0.05) 93.71%); border-image-slice: 1 !important;"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px] z-0"
                    style="background: #ffffff05;backdrop-filter: blur(40px);"
                  >
                  </div>
                  <div class="icon flex place-content-center relative z-1">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M5.6665 34C5.6665 21.9792 5.6665 15.9688 8.98595 12.2344C12.3054 8.5 17.648 8.5 28.3332 8.5H39.6665C50.3516 8.5 55.6944 8.5 59.0136 12.2344C62.3332 15.9688 62.3332 21.9792 62.3332 34C62.3332 46.0207 62.3332 52.0313 59.0136 55.7657C55.6944 59.5 50.3516 59.5 39.6665 59.5H28.3332C17.648 59.5 12.3054 59.5 8.98595 55.7657C5.6665 52.0313 5.6665 46.0207 5.6665 34Z"
                          stroke="white"
                          stroke-width="4.25"></path>
                        <path
                          d="M5.6665 25.5H28.3332C36.347 25.5 40.3539 25.5 42.8435 27.9896C45.3332 30.4793 45.3332 34.4862 45.3332 42.5V59.5"
                          stroke="white"
                          stroke-width="4.25"></path>
                        <path
                          d="M28.3335 59.5V25.5"
                          stroke="white"
                          stroke-width="4.25"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content relative z-1 flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      S.M.A.R.T.
                    </h5>
                    <p class="text-center md:text-left">
                      Scalable Miner Architecture for Resilience and Fault
                      Tolerance
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease;border: 1px solid;border-image-source: linear-gradient(330.52deg, rgba(9, 59, 152, 0.27) 4.17%, rgba(255, 255, 255, 0.05) 93.71%); border-image-slice: 1 !important;"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px] z-0"
                    style="background: #ffffff05;backdrop-filter: blur(40px);"
                  >
                  </div>
                  <div class="icon flex place-content-center relative z-1">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M7.0835 34C7.0835 21.3114 7.0835 14.9671 11.0253 11.0252C14.9672 7.08337 21.3115 7.08337 34.0002 7.08337C46.6887 7.08337 53.0331 7.08337 56.9751 11.0252C60.9168 14.9671 60.9168 21.3114 60.9168 34C60.9168 46.6886 60.9168 53.033 56.9751 56.975C53.0331 60.9167 46.6887 60.9167 34.0002 60.9167C21.3115 60.9167 14.9672 60.9167 11.0253 56.975C7.0835 53.033 7.0835 46.6886 7.0835 34Z"
                          stroke="white"
                          stroke-width="4.25"></path>
                        <path
                          d="M7.0835 25.5H60.9168"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linejoin="round"></path>
                        <path
                          d="M36.8335 36.8334H48.1668"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M36.8335 48.1666H42.5002"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M19.8335 17H19.8589"
                          stroke="white"
                          stroke-width="5.66667"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M31.1665 17H31.192"
                          stroke="white"
                          stroke-width="5.66667"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M25.5 25.5V60.9167"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content relative z-1 flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Patented Hash Board Design
                    </h5>
                    <p class="text-center md:text-left">
                      Prevents one ASIC failure from taking down the whole board
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease;border: 1px solid;border-image-source: linear-gradient(330.52deg, rgba(9, 59, 152, 0.27) 4.17%, rgba(255, 255, 255, 0.05) 93.71%); border-image-slice: 1 !important;"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px] z-0"
                    style="background: #ffffff05;backdrop-filter: blur(40px);"
                  >
                  </div>
                  <div class="icon flex place-content-center relative z-1">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M59.5 59.5H28.3333C18.9838 59.5 14.309 59.5 11.4045 56.5955C8.5 53.6908 8.5 49.0161 8.5 39.6667V8.5"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"></path>
                        <path
                          d="M17 17H17.0254M25.4949 17H25.5203M33.9898 17H34.0153M42.4847 17H42.5102M50.9796 17H51.0051M59.4745 17H59.5"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M53.8335 59.5C53.8335 40.7224 46.2223 25.5 36.8335 25.5C27.4447 25.5 19.8335 40.7224 19.8335 59.5"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content relative z-1 flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Maximum Uptime
                    </h5>
                    <p class="text-center md:text-left">
                      Mining continues seamlessly despite multiple chip failures
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease;border: 1px solid;border-image-source: linear-gradient(330.52deg, rgba(9, 59, 152, 0.27) 4.17%, rgba(255, 255, 255, 0.05) 93.71%); border-image-slice: 1 !important;"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px] z-0"
                    style="background: #ffffff05;backdrop-filter: blur(40px);"
                  >
                  </div>
                  <div class="icon flex place-content-center relative z-1">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M7.0835 34C7.0835 21.3114 7.0835 14.9671 11.0253 11.0252C14.9672 7.08337 21.3115 7.08337 34.0002 7.08337C46.6887 7.08337 53.0331 7.08337 56.9751 11.0252C60.9168 14.9671 60.9168 21.3114 60.9168 34C60.9168 46.6888 60.9168 53.0329 56.9751 56.9749C53.0331 60.9166 46.6887 60.9167 34.0002 60.9167C21.3115 60.9167 14.9672 60.9166 11.0253 56.9749C7.0835 53.0329 7.0835 46.6888 7.0835 34Z"
                          stroke="white"
                          stroke-width="4.25"></path>
                        <path
                          d="M7.0835 25.5H60.9168"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linejoin="round"></path>
                        <path
                          d="M19.8335 17H19.8589"
                          stroke="white"
                          stroke-width="5.66667"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M31.1665 17H31.192"
                          stroke="white"
                          stroke-width="5.66667"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M48.1668 48.1667C48.1668 40.3427 41.8241 34 34.0002 34C26.1761 34 19.8335 40.3427 19.8335 48.1667"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"></path>
                        <path
                          d="M36.0035 43.3301L31.9966 47.337"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content relative z-1 flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Minimal Performance Loss™
                    </h5>
                    <p class="text-center md:text-left">
                      Multiple failed chips results in minimal performance loss
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="slide autotemp">
      <div class="content-wrapper">
        <div class="content" style="background-color: #10173D;">
          <section
            class="fade-up-section lg:min-h-[600px] lg:max-h-[800px] relative flex flex-col pt-6 pb-20 md:pt-2 md:pb-0 overflow-x-hidden"
          >
            <div
              class="overlay absolute bottom-0 overflow-hidden left-0 w-full h-full"
            >
              <img
                src="/lines-carpet-white.svg"
                class="w-full h-full cover -bottom-30 absolute left-0"
                alt=""
              />
            </div>
            <div class="overlay absolute bottom-0 right-0 w-full h-full">
              <img
                src="/autotemp-overlay.png"
                class="w-fit h-full cover absolute bottom-0 right-0"
                alt=""
              />
            </div>
            <div
              class="container mx-auto relative z-3 grid gap-8 md:gap-18 2xl:gap-20"
              style="max-width:1000px !important;"
            >
              <div class="title flex items-center justify-between">
                <h2
                  class="gradientSmallHeading text-2xl md:text-4xl leading-[30px] font-medium md:leading-[50px]"
                >
                  AutoTemp
                </h2>
                <div class="icon max-w-[30px] md:max-w-full">
                  <svg
                    class="w-full h-full object-cover"
                    width="63"
                    height="63"
                    viewBox="0 0 63 63"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M31.4999 57.75C17.0024 57.75 5.25 45.9973 5.25 31.5C5.25 17.0025 17.0025 5.25 31.4999 5.25C43.2539 5.25 53.0924 12.9751 56.4374 23.625H49.8749"
                      stroke="white"
                      stroke-width="3.9375"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M31.5 21V31.5L36.75 36.75"
                      stroke="white"
                      stroke-width="3.9375"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M57.6321 34.125C57.7101 33.2611 57.75 32.3854 57.75 31.5M39.375 57.75C40.2717 57.4549 41.1477 57.1105 42 56.7205M54.5753 44.625C55.0817 43.6495 55.5332 42.6387 55.9256 41.5963M47.7553 53.1017C48.6594 52.3533 49.5156 51.544 50.3181 50.6796"
                      stroke="white"
                      stroke-width="3.9375"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </div>
              <div class="items grid grid-cols-1 md:grid-cols-4 gap-4">
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px] z-0"
                    style="background: #ffffff05;backdrop-filter: blur(40px);"
                  >
                  </div>
                  <div class="icon flex place-content-center relative z-1">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M51.0002 58.0835C53.5184 57.5177 55.4309 56.5881 56.9751 55.0595C60.9168 51.1569 60.9168 44.8759 60.9168 32.3144C60.9168 19.7525 60.9168 13.4716 56.9751 9.56918C53.0331 5.66675 46.6887 5.66675 34.0002 5.66675C21.3115 5.66675 14.9672 5.66675 11.0253 9.56918C7.0835 13.4716 7.0835 19.7525 7.0835 32.3144C7.0835 44.8759 7.0835 51.1569 11.0253 55.0595C12.5694 56.5881 14.482 57.5177 17.0002 58.0835"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"></path>
                        <path
                          d="M7.0835 24.0833H60.9168"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linejoin="round"></path>
                        <path
                          d="M19.8335 15.5833H19.8589"
                          stroke="white"
                          stroke-width="5.66667"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M31.1665 15.5833H31.192"
                          stroke="white"
                          stroke-width="5.66667"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M43.9168 49.5834V42.5001C38.2502 42.5001 34.0002 39.6667 34.0002 39.6667C34.0002 39.6667 29.7502 42.5001 24.0835 42.5001V49.5834C24.0835 59.5001 34.0002 62.3334 34.0002 62.3334C34.0002 62.3334 43.9168 59.5001 43.9168 49.5834Z"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content relative z-1 flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Smart Protection
                    </h5>
                    <p class="text-center md:text-left">
                      Automatically regulates chip temperature to prevent
                      overheating and damage
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px] z-0"
                    style="background: #ffffff05;backdrop-filter: blur(40px);"
                  >
                  </div>
                  <div class="icon flex place-content-center relative z-1">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M60.9168 12.7499C60.9168 15.8795 58.3799 18.4166 55.2502 18.4166C52.1205 18.4166 49.5835 15.8795 49.5835 12.7499C49.5835 9.6203 52.1205 7.08325 55.2502 7.08325C58.3799 7.08325 60.9168 9.6203 60.9168 12.7499Z"
                          stroke="white"
                          stroke-width="4.25"></path>
                        <path
                          d="M58.0016 26.6498C58.0835 29.1554 58.0835 32.0505 58.0835 35.4167C58.0835 47.4374 58.0835 53.4481 54.3492 57.1824C50.6148 60.9167 44.6042 60.9167 32.5835 60.9167C20.5627 60.9167 14.5523 60.9167 10.8179 57.1824C7.0835 53.4481 7.0835 47.4374 7.0835 35.4167C7.0835 23.3959 7.0835 17.3855 10.8179 13.6511C14.5523 9.91675 20.5627 9.91675 32.5835 9.91675C35.9498 9.91675 38.8449 9.91675 41.3504 9.99877"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M18.4165 41.0833L26.3297 33.1701C27.4362 32.0637 29.2302 32.0637 30.3366 33.1701L34.8297 37.6632C35.9361 38.7696 37.7302 38.7696 38.8366 37.6632L46.7498 29.75"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content relative z-1 flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Automatic Activation
                    </h5>
                    <p class="text-center md:text-left">
                      Automatically active on every miner—no setup needed
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d] md:col-start-2 md:col-end-4"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px] z-0"
                    style="background: #ffffff05;backdrop-filter: blur(40px);"
                  >
                  </div>
                  <div class="icon flex place-content-center relative z-1">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M34 22.6667V34.0001L38.25 38.2501"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M55.3789 46.6179C60.0153 49.1214 62.3335 50.3734 62.3335 52.4166C62.3335 54.4597 60.0153 55.7117 55.3789 58.2153L52.2217 59.9204C48.661 61.8431 46.8808 62.8044 46.0246 62.1054C43.9282 60.3935 47.1942 55.9755 47.9977 54.4104C48.812 52.8246 48.7973 51.9799 47.9977 50.4227C47.1942 48.8576 43.9282 44.4396 46.0246 42.7277C46.8808 42.0287 48.661 42.9901 52.2217 44.9128L55.3789 46.6179Z"
                          stroke="white"
                          stroke-width="4.25"></path>
                        <path
                          d="M36.9071 62.1861C35.9514 62.2836 34.9813 62.3334 33.9998 62.3334C18.3518 62.3334 5.6665 49.648 5.6665 34.0001C5.6665 18.352 18.3518 5.66675 33.9998 5.66675C49.6478 5.66675 62.3332 18.352 62.3332 34.0001C62.3332 35.9406 62.138 37.8358 61.7665 39.6667"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content relative z-1 flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Temperature Resilience
                    </h5>
                    <p class="text-center md:text-left">
                      Maintains uptime and reliable performance across extreme
                      heat or cold
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="slide instant">
      <div class="content-wrapper">
        <div class="content" style="background-color: #070B1E;">
          <section
            class="fade-up-section lg:min-h-[600px] lg:max-h-[800px] relative flex flex-col pt-6 pb-20 md:pt-2 md:pb-0 overflow-x-hidden"
          >
            <div
              class="overlay absolute bottom-0 overflow-hidden left-0 w-full h-full"
            >
              <img
                src="/lines-carpet-white.svg"
                class="w-full h-full cover -bottom-30 absolute left-0"
                alt=""
              />
            </div>
            <div class="overlay absolute bottom-0 left-0 w-full h-full">
              <img
                src="/instant-overlay.png"
                class="w-fit h-full cover absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                alt=""
              />
            </div>
            <div
              class="container mx-auto relative z-3 grid gap-8 md:gap-12 2xl:gap-20"
              style="max-width:1000px !important;"
            >
              <div class="title flex items-center justify-between">
                <h2
                  class="gradientSmallHeading text-2xl md:text-4xl leading-[30px] font-medium md:leading-[50px]"
                >
                  Instant Deployment
                </h2>
                <div class="icon max-w-[30px] md:max-w-full">
                  <svg
                    class="w-full h-full object-cover"
                    width="63"
                    height="63"
                    viewBox="0 0 63 63"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M42 5.25H31.5C24.0754 5.25 20.3631 5.25 18.0565 7.73396C15.75 10.2179 15.75 14.2158 15.75 22.2115V25.0385C15.75 33.0343 15.75 37.0322 18.0565 39.516C20.3631 42 24.0754 42 31.5 42H42C49.4245 42 53.1368 42 55.4434 39.516C57.75 37.0322 57.75 33.0343 57.75 25.0385V22.2115C57.75 14.2158 57.75 10.2179 55.4434 7.73396C53.1368 5.25 49.4245 5.25 42 5.25Z"
                      stroke="white"
                      stroke-width="3.9375"></path>
                    <path
                      d="M47.25 43.5965C47.2182 49.7535 46.9649 53.0877 44.9479 55.2628C42.641 57.75 38.9282 57.75 31.5029 57.75H21.0017C13.5763 57.75 9.86357 57.75 7.5568 55.2628C5.25 52.7754 5.25 48.7722 5.25 40.7657V37.9352C5.25 29.9287 5.25 25.9255 7.5568 23.4382C9.24039 21.6229 11.6729 21.1325 15.7511 21"
                      stroke="white"
                      stroke-width="3.9375"></path>
                  </svg>
                </div>
              </div>
              <div class="items grid grid-cols-1 md:grid-cols-4 gap-4">
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px] z-0"
                    style="background: #ffffff05;backdrop-filter: blur(40px);"
                  >
                  </div>
                  <div class="icon flex place-content-center relative z-1">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M33.9998 62.3334C49.6479 62.3334 62.3332 49.6482 62.3332 34.0001C62.3332 18.352 49.6479 5.66675 33.9998 5.66675C18.3518 5.66675 5.6665 18.352 5.6665 34.0001C5.6665 49.6482 18.3518 62.3334 33.9998 62.3334Z"
                          stroke="white"
                          stroke-width="4.25"></path>
                        <path
                          d="M45.1784 35.1185C44.6777 36.8942 42.311 38.149 37.5782 40.6588C33.0027 43.0847 30.715 44.2979 28.8714 43.8103C28.1092 43.6086 27.4148 43.2258 26.8547 42.6985C25.5 41.4227 25.5 38.9483 25.5 33.9999C25.5 29.0515 25.5 26.5771 26.8547 25.3014C27.4148 24.774 28.1092 24.3912 28.8714 24.1896C30.715 23.702 33.0027 24.915 37.5782 27.3411C42.311 29.8508 44.6777 31.1057 45.1784 32.8813C45.3849 33.6143 45.3849 34.3855 45.1784 35.1185Z"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content relative z-1 flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Plug & Play
                    </h5>
                    <p class="text-center md:text-left">
                      Miners auto-register and begin hashing instantly—no manual
                      setup required
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px]"
                    style="background: #ffffff05;"
                  >
                  </div>
                  <div class="icon flex place-content-center">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M43.9168 33.9999C43.9168 39.4768 39.477 43.9166 34.0002 43.9166C28.5233 43.9166 24.0835 39.4768 24.0835 33.9999C24.0835 28.5231 28.5233 24.0833 34.0002 24.0833C39.477 24.0833 43.9168 28.5231 43.9168 33.9999Z"
                          stroke="white"
                          stroke-width="4.25"></path>
                        <path
                          d="M58.9065 25.9307C61.1911 29.8684 62.3332 31.837 62.3332 34C62.3332 36.163 61.1911 38.1316 58.9065 42.0693L53.4561 51.4641C51.1806 55.386 50.043 57.3472 48.1719 58.4236C46.301 59.5 44.0304 59.5 39.4889 59.5H28.5108C23.9693 59.5 21.6986 59.5 19.8277 58.4236C17.9568 57.3472 16.819 55.386 14.5436 51.4641L9.09319 42.0693C6.80873 38.1316 5.6665 36.163 5.6665 34C5.6665 31.837 6.80873 29.8684 9.09319 25.9307L14.5436 16.5359C16.819 12.6139 17.9568 10.6529 19.8277 9.57644C21.6986 8.5 23.9693 8.5 28.5108 8.5H39.4889C44.0304 8.5 46.301 8.5 48.1719 9.57644C50.043 10.6529 51.1806 12.6139 53.4561 16.536L58.9065 25.9307Z"
                          stroke="white"
                          stroke-width="4.25"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Preloaded Settings
                    </h5>
                    <p class="text-center md:text-left">
                      Preconfigured settings for fast, consistent fleet
                      deployment
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d] md:col-start-2 md:col-end-4"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px]"
                    style="background: #ffffff05;"
                  >
                  </div>
                  <div class="icon flex place-content-center">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M22.6665 19.8333H56.6665"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M11.3335 19.8333H11.3618"
                          stroke="white"
                          stroke-width="5.66667"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M22.6665 34H22.6948"
                          stroke="white"
                          stroke-width="5.66667"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M22.6665 48.1667H22.6948"
                          stroke="white"
                          stroke-width="5.66667"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M34 34H56.6667"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M34 48.1667H56.6667"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Smart Grouping
                    </h5>
                    <p class="text-center md:text-left">
                      Group miners for streamlined setup and configuration
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="slide power">
      <div class="content-wrapper">
        <div class="content" style="background-color: #142957;">
          <section
            class="fade-up-section lg:min-h-[600px] lg:max-h-[800px] relative flex flex-col pt-6 pb-20 md:pt-2 md:pb-0 overflow-x-hidden"
          >
            <div
              class="overlay absolute bottom-0 overflow-hidden left-0 w-full h-full"
            >
              <img
                src="/lines-carpet-white.svg"
                class="w-full h-full cover -bottom-30 absolute left-0"
                alt=""
              />
            </div>
            <div class="overlay absolute bottom-0 left-0 w-full h-full">
              <img
                src="/instant-overlay.png"
                class="w-fit h-full cover absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                alt=""
              />
            </div>
            <div
              class="container mx-auto relative z-3 grid gap-8 md:gap-10 2xl:gap-20"
              style="max-width:1000px !important;"
            >
              <div class="title flex items-center justify-between">
                <h2
                  class="gradientSmallHeading text-2xl md:text-4xl leading-[30px] font-medium md:leading-[50px]"
                >
                  Power Management
                </h2>
                <div class="icon max-w-[30px] md:max-w-full">
                  <svg
                    class="w-full h-full object-cover"
                    width="63"
                    height="63"
                    viewBox="0 0 63 63"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.25 51.1875C5.25 48.0939 5.25 46.547 6.40327 45.586C7.55654 44.625 9.4127 44.625 13.125 44.625C16.8373 44.625 18.6935 44.625 19.8467 45.586C21 46.547 21 48.0939 21 51.1875C21 54.2811 21 55.828 19.8467 56.789C18.6935 57.75 16.8373 57.75 13.125 57.75C9.4127 57.75 7.55654 57.75 6.40327 56.789C5.25 55.828 5.25 54.2811 5.25 51.1875Z"
                      stroke="white"
                      stroke-width="3.9375"></path>
                    <path
                      d="M42 51.1875C42 48.0939 42 46.547 43.1532 45.586C44.3066 44.625 46.1627 44.625 49.875 44.625C53.5873 44.625 55.4434 44.625 56.5968 45.586C57.75 46.547 57.75 48.0939 57.75 51.1875C57.75 54.2811 57.75 55.828 56.5968 56.789C55.4434 57.75 53.5873 57.75 49.875 57.75C46.1627 57.75 44.3066 57.75 43.1532 56.789C42 55.828 42 54.2811 42 51.1875Z"
                      stroke="white"
                      stroke-width="3.9375"></path>
                    <path
                      d="M49.875 44.625C49.875 38.1097 47.9225 36.75 38.5673 36.75H24.4327C15.0774 36.75 13.125 38.1097 13.125 44.625"
                      stroke="white"
                      stroke-width="3.9375"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M31.5 17.0625L34.125 13.125M43.3125 17.0625C43.3125 23.5864 38.0239 28.875 31.5 28.875C24.9761 28.875 19.6875 23.5864 19.6875 17.0625C19.6875 10.5386 24.9761 5.25 31.5 5.25C38.0239 5.25 43.3125 10.5386 43.3125 17.0625Z"
                      stroke="white"
                      stroke-width="3.9375"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="items grid grid-cols-1 md:grid-cols-4 gap-4">
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px] z-0"
                    style="background: #ffffff05;backdrop-filter: blur(40px);"
                  >
                  </div>
                  <div class="icon flex place-content-center relative z-1">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M36.8333 8.5H31.1667C20.4815 8.5 15.1389 8.5 11.8194 11.8194C8.5 15.1389 8.5 20.4815 8.5 31.1667V36.8333C8.5 47.5184 8.5 52.8612 11.8194 56.1805C15.1389 59.5 20.4815 59.5 31.1667 59.5H36.8333C47.5184 59.5 52.8612 59.5 56.1805 56.1805C59.5 52.8612 59.5 47.5184 59.5 36.8333V31.1667C59.5 20.4815 59.5 15.1389 56.1805 11.8194C52.8612 8.5 47.5184 8.5 36.8333 8.5Z"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M25.5 8.5V59.5"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M42.5 8.5V59.5"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M59.4999 25.5H8.5"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M59.4999 42.5H8.5"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content relative z-1 flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Grid Integration
                    </h5>
                    <p class="text-center md:text-left">
                      Integrated with QSEs like Voltus to align mining with grid
                      signals
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d]"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px]"
                    style="background: #ffffff05;"
                  >
                  </div>
                  <div class="icon flex place-content-center">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M35.4168 22.6667L28.3335 34.0001H39.6668L32.5835 45.3334"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M59.531 40.0607C61.0097 39.6538 61.7492 39.4504 62.0411 39.0614C62.3332 38.6724 62.3332 38.0465 62.3332 36.795V31.2051C62.3332 29.9536 62.3332 29.3277 62.0411 28.9387C61.7489 28.5497 61.0097 28.3463 59.531 27.9394C54.0049 26.4188 50.5462 20.5241 51.9725 14.9225C52.3647 13.3821 52.5607 12.6118 52.3734 12.1601C52.1862 11.7083 51.649 11.397 50.574 10.7744L45.6873 7.94353C44.6328 7.33258 44.1055 7.02709 43.6323 7.09215C43.1589 7.1572 42.6251 7.70069 41.5569 8.7877C37.4225 12.9961 30.5817 12.9959 26.4471 8.78741C25.3792 7.70041 24.8453 7.15692 24.372 7.09186C23.8987 7.02681 23.3714 7.3323 22.3167 7.94325L17.4301 10.7741C16.3553 11.3967 15.818 11.708 15.6307 12.1597C15.4434 12.6114 15.6395 13.3817 16.0315 14.9223C17.4571 20.524 13.9957 26.4189 8.46873 27.9394C6.99001 28.3463 6.25065 28.5497 5.95856 28.9387C5.6665 29.3277 5.6665 29.9533 5.6665 31.2051V36.795C5.6665 38.0465 5.6665 38.6724 5.95856 39.0614C6.2506 39.4504 6.98998 39.6538 8.46873 40.0607C13.9948 41.5813 17.4534 47.4761 16.0272 53.0776C15.635 54.6181 15.4389 55.3882 15.6261 55.8401C15.8134 56.2917 16.3508 56.6031 17.4255 57.2256L22.3122 60.0567C23.3669 60.6675 23.8943 60.973 24.3676 60.9081C24.841 60.8429 25.3748 60.2992 26.4425 59.2123C30.5792 55.0003 37.4248 55.0003 41.5617 59.212C42.6293 60.2992 43.1631 60.8426 43.6366 60.9078C44.1097 60.9727 44.6373 60.6672 45.6919 60.0564L50.5785 57.2253C51.6535 56.6028 52.191 56.2914 52.378 55.8395C52.5653 55.3879 52.3692 54.6175 51.9768 53.0773C50.5499 47.4761 54.0057 41.5813 59.531 40.0607Z"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Curtailment Flexibility
                    </h5>
                    <p class="text-center md:text-left">
                      Reduce power usage during high-cost or grid-stressed
                      periods
                    </p>
                  </div>
                </div>
                <!-- start item -->
                <div
                  class="item p-8 grid grid-cols-1 md:grid-cols-4 md:col-span-2 gap-4 relative overflow-hidden rounded-[3px] border border-[#ffffff14] hover:border-[#ffffff3d] md:col-start-2 md:col-end-4"
                  style="transition: border 1000ms ease"
                >
                  <div
                    class="overlay absolute inset-0 w-full h-full rounded-[3px]"
                    style="background: #ffffff05;"
                  >
                  </div>
                  <div class="icon flex place-content-center">
                    <svg
                      width="68"
                      height="68"
                      viewBox="0 0 68 68"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g opacity="0.6">
                        <path
                          d="M38.2498 55.2501V32.5834C38.2498 29.9121 38.2498 28.5765 37.42 27.7466C36.5901 26.9167 35.2544 26.9167 32.5832 26.9167C29.9119 26.9167 28.5763 26.9167 27.7464 27.7466C26.9165 28.5765 26.9165 29.9121 26.9165 32.5834V55.2501C26.9165 57.9213 26.9165 59.257 27.7464 60.0869C28.5763 60.9167 29.9119 60.9167 32.5832 60.9167C35.2544 60.9167 36.5901 60.9167 37.42 60.0869C38.2498 59.257 38.2498 57.9213 38.2498 55.2501Z"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M58.0833 35.4167V55.2501C58.0833 57.9213 58.0833 59.257 57.2534 60.0869C56.4236 60.9167 55.0879 60.9167 52.4167 60.9167C49.7454 60.9167 48.4098 60.9167 47.5799 60.0869C46.75 59.257 46.75 57.9213 46.75 55.2501V35.4167"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M49.4063 25.9721V10.861M53.8333 10.861V7.08325M53.8333 29.7499V25.9721M49.4063 18.4166H58.2604M58.2604 18.4166C59.7275 18.4166 60.9167 19.6851 60.9167 21.2499V23.1388C60.9167 24.7036 59.7275 25.9721 58.2604 25.9721H46.75M58.2604 18.4166C59.7275 18.4166 60.9167 17.148 60.9167 15.5833V13.6944C60.9167 12.1296 59.7275 10.861 58.2604 10.861H46.75"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M18.4168 55.2501V41.0834C18.4168 38.4121 18.4168 37.0765 17.587 36.2466C16.7571 35.4167 15.4215 35.4167 12.7502 35.4167C10.0789 35.4167 8.74323 35.4167 7.91335 36.2466C7.0835 37.0765 7.0835 38.4121 7.0835 41.0834V55.2501C7.0835 57.9213 7.0835 59.257 7.91335 60.0869C8.74323 60.9167 10.0789 60.9167 12.7502 60.9167C15.4215 60.9167 16.7571 60.9167 17.587 60.0869C18.4168 59.257 18.4168 57.9213 18.4168 55.2501Z"
                          stroke="white"
                          stroke-width="4.25"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </div>
                  <div
                    class="inner-content flex flex-col md:col-span-3 gap-4 md:gap-0"
                  >
                    <h5
                      class="font-medium text-[20px] tracking-[-1px] leading-[25px] md:leading-[32px] text-center md:text-left"
                    >
                      Profit-Driven Operation
                    </h5>
                    <p class="text-center md:text-left">
                      Maximize profit by mining when energy is cheap and
                      curtailing when it’s not
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div><!-- close solutions slides -->
  <section
    class="fade-up-section relative flex flex-col lg:items-center lg:justify-center lg:overflow-x-hidden"
  >
    <div
      class="videoContainer z-1 absolute top-0 left-0 w-full h-full bg-[#0050D5]"
    >
      <video
        src="/HB-About.mp4"
        class="w-full h-full object-cover mix-blend-color-burn opacity-60"
        autoplay
        loop
        muted
        playsinline
        webkit-playsinline
        disablepictureinpicture></video>
    </div>
    <div
      class="overlay absolute top-0 left-0 w-full h-full z-2"
      style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #080C20 100%);"
    >
    </div>
    <div class="container mx-auto relative z-3 grid gap-8 pt-30">
      <div class="flex flex-col gap-8 justify-center items-center">
        <h2
          class="text-4xl font-semibold | gradientSmallHeading w-fit fade-up fade-up-mobile mb-15"
        >
          Build smarter. Scale faster.
        </h2>
      </div>
    </div>
    <div class="inner-container mx-auto relative z-3">
      <div class="form grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="form-group relative">
          <div
            class="overlay bg-white absolute inset-0 w-full h-full opacity-[.1] transition duration-300 filter-blur-[40px]"
          >
          </div>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            class="w-full relative z-2 placeholder:text-white/50 bg-transparent px-4 py-3 text-sm"
            style="backdrop-filter: blur(48px);border: 1.2px solid; border-image-source: linear-gradient(299.52deg, rgba(9, 59, 152, 0.5) 4.17%, rgba(255, 255, 255, 0.05) 93.71%);border-image-slice: 1 !important;"
          />
        </div>
        <div class="form-group relative">
          <div
            class="overlay bg-white absolute inset-0 w-full h-full opacity-[.1] transition duration-300 filter-blur-[40px]"
          >
          </div>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email Address"
            class="w-full relative z-2 placeholder:text-white/50 bg-transparent px-4 py-3 text-sm"
            style="backdrop-filter: blur(48px);border: 1.2px solid; border-image-source: linear-gradient(299.52deg, rgba(9, 59, 152, 0.5) 4.17%, rgba(255, 255, 255, 0.05) 93.71%);border-image-slice: 1 !important;"
          />
        </div>
        <div class="form-group relative col-span-full">
          <div
            class="overlay bg-white absolute inset-0 w-full h-full opacity-[.1] transition duration-300 filter-blur-[40px]"
          >
          </div>
          <textarea
            class="w-full relative z-2 placeholder:text-white/50 bg-transparent px-4 py-2 text-sm min-h-[6lh]"
            style="backdrop-filter: blur(48px);border: 1.2px solid; border-image-source: linear-gradient(299.52deg, rgba(9, 59, 152, 0.5) 4.17%, rgba(255, 255, 255, 0.05) 93.71%);border-image-slice: 1 !important;"
            name="message"
            placeholder="Message"
            id="message"></textarea>
        </div>
        <div
          class="flex justify-between col-span-full mt-2 flex-col min-[450px]:flex-row gap-4"
        >
          <div class="form-group flex flex-col">
            <a class="text-[20px]" href="mailto:support@auradine.com"
              >support@auradine.com</a
            >
            <p class="opacity-60">Minimum Order 500 units</p>
          </div>
          <div class="form-group">
            <div class="anim-wrapper">
              <div class="liquidGlass-wrapper">
                <div class="liquidGlass-effect"></div>
                <div class="liquidGlass-tint"></div>
                <div class="liquidGlass-shine"></div>
                <div class="liquidGlass-text">
                  <button
                    class="cta flex items-center gap-2 font-base | w-fit px-5 py-[14px] rounded-full h-fit font-normal text-[14px] leading-[19.6px] tracking-[0] text-center align-middle group"
                    ><span>SEND MESSAGE</span>
                    <span
                      ><svg
                        class="group-hover:translate-x-1 transition duration-300"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        ><path
                          fill="#fff"
                          fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                        ></path></svg
                      ></span
                    ></button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="marquee-container relative flex overflow-x-hidden z-3 opacity-10 mt-10 md:mt-40 md:mb-20"
    >
      <div class="animate-marquee whitespace-nowrap my-20 md:mt-0">
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >High Performance.</span
        >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >Low Power.</span
        >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >Built For Blockchain & AI.</span
        >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >High Performance.</span
        >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >Low Power.</span
        >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >Built For Blockchain & AI.</span
        >
      </div>
      <div
        class="absolute top-0 animate-marquee2 whitespace-nowrap my-20 md:mt-0"
      >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >High Performance.</span
        >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >Low Power.</span
        >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >Built For Blockchain & AI.</span
        >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >High Performance.</span
        >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >Low Power.</span
        >
        <span
          class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
          >Built For Blockchain & AI.</span
        >
      </div>
    </div>
  </section>
</Layout>

<style>
  .slide .item svg g,
  .slide .item p {
    transition: opacity 1000ms ease;
  }
  .slide .item:hover svg g,
  .slide .item:hover p {
    opacity: 1 !important;
    transition: opacity 500ms ease;
  }

  .about-slides {
    position: relative;
    background-color: #0f0f0f;
  }

  @media (max-width: 1100px) {
    .about-slides .slide {
      height: 100%;
      max-height: 100%;
    }
  }
  .about-slides .slide .content-wrapper {
    width: 100%;
    height: 100%;
  }
  @media (min-width: 1100px) {
    .about-slides .slide .content {
      position: absolute;
      inset: 0;
      transform-style: preserve-3d;
      transform-origin: 50% 10%;
    }
  }
</style>
<script is:inline>
  function solutionSlides() {
    // Run this only if viewport is larger than 1000px
    if (window.innerWidth < 1000) {
      return;
    }

    setTimeout(() => {
      const slidesContainer = document.querySelector(".solution-slides");
      const slides = slidesContainer.querySelectorAll(".slide");

      let slideHeights = [75, 72, 70, 65, 60];

      if (window.innerWidth > 1800) {
        slideHeights = [50, 50, 50, 50, 50];
      }

      slides.forEach((slide, index) => {
        slide.style.height = `${slideHeights[index]}vh`;
        slide.zIndex = index + 20;

        const contentWrapper = slide.querySelector(".content-wrapper");
        const content = slide.querySelector(".content");

        const contentRightItems = Array.from(
          content.querySelectorAll(".right p, .right a")
        );

        let startPosition = index === 0 ? "top 0%" : `top ${index * 10}%`;
        /*if (window.innerWidth < 1800) {
          startPosition = index === 0 ? "top 9%" : `top ${(index + 1) * 10}%`;
        }
        */
        // Opacity on the .slide
        gsap.to(slide, {
          //opacity: 0,
          ease: "none",
          scrollTrigger: {
            trigger: slide,
            start: startPosition,
            end: "+=" + (window.innerHeight + 500),
            scrub: true,
          },
          onUpdate: () => {
            //if opacity is > 0.5, hide the inner content
            if (slide.style.opacity < 0.8) {
              gsap.to(contentRightItems, {
                opacity: 0,
              });
            } else {
              gsap.to(contentRightItems, {
                opacity: 1,
              });
            }
          },
          onStart: () => {
            console.log("slide started", slide);
          },
        });

        // Scale and rotation on the .content
        gsap.to(content, {
          autoAlpha: 1,
          //scale: 0.8,
          //rotationX: 40,
          ease: "power1.in",
          scrollTrigger: {
            trigger: slide,
            pin: contentWrapper,
            start: startPosition,
            end: "+=" + (window.innerHeight + 2500),
            scrub: true,
          },
        });
      });
    }, 500);
  }

  solutionSlides();
</script>
