<footer class="relative overflow-hidden">
  <div
    class="footer-container pt-32 h-[80vh] max-h-[1500px] flex flex-col gap-4"
    style="background: linear-gradient(180deg, #143C99 0%, #040C21 100%);"
  >
    <div class="container mx-auto grid gap2">
      <div class="footer-top
    grid
    grid-cols-1
    md:grid-cols-2">
        <div class="left grid grid-cols-1 md:grid-cols-2 gap-4">
          <ul class="flex flex-col gap-2">
            <li>
              <a href="" class="text-white text-sm gradient-overline"
                >Accessibility Settings</a
              >
            </li>
            <li>
              <a href="" class="text-white text-sm gradient-overline"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a href="" class="text-white text-sm gradient-overline">Contact</a
              >
            </li>
          </ul>
          <ul class="flex flex-col gap-2">
            <li><p class="text-white uppercase text-sm">CONTACT US</p></li>
            <li>
              <p class="text-white text-sm">
                3200 Coronado Drive <br class="hidden sm:inline" />
                Santa Clara, CA 95054
              </p>
            </li>
            <li>
              <a
                href="mailto:info@auradine.com"
                class="text-white text-sm gradient-overline"
                >info@auradine.com</a
              >
            </li>
          </ul>
        </div>
        <div class="rigth">SUBSCRIBE FORM</div>
      </div>
      <div class="footer-below"></div>
    </div>
    <div class="auradine-logo | mx-auto max-w-[1800px] w-[97vw] mt-auto">
      <div class="letters flex items-end justify-between w-full">
        <svg
          class="h-fit w-full"
          width="1517"
          height="263"
          viewBox="0 0 1517 263"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g opacity="0.1">
            <path
              d="M176.647 67.7751C166.93 67.7751 159.011 75.6941 159.011 85.4107V90.9977C141.521 75.4998 119.319 67.0464 95.708 67.0464C42.0241 67.0464 0 110.042 0 164.892C0 219.742 42.0241 262.738 95.708 262.738C119.562 262.738 141.764 254.333 159.011 238.884V244.033C159.011 253.944 166.93 262.009 176.647 262.009C186.363 262.009 194.282 254.09 194.282 244.033V85.4107C194.282 75.4998 186.558 67.7751 176.647 67.7751ZM97.5055 229.653C62.8175 229.653 35.6597 201.232 35.6597 164.941C35.6597 128.649 62.8175 100.228 97.5055 100.228C132.194 100.228 157.651 126.9 159.011 162.074V167.71C157.651 203.029 131.173 229.653 97.5055 229.653Z"
              fill="white"></path>
            <path
              d="M390.51 67.7729C380.599 67.7729 372.874 75.5462 372.874 85.4085V177.764C372.874 209.78 355.044 229.651 326.332 229.651C297.619 229.651 280.178 209.294 280.178 177.764V85.4085C280.178 75.6919 272.259 67.7729 262.543 67.7729C252.826 67.7729 244.907 75.5462 244.907 85.4085V176.695C244.907 227.367 278.381 262.784 326.38 262.784C374.38 262.784 408.194 227.367 408.194 176.695V85.4085C408.194 75.6919 400.275 67.7729 390.558 67.7729"
              fill="white"></path>
            <path
              d="M535.238 67.0464C489.279 67.0464 458.429 99.3539 458.429 147.451V244.082C458.429 254.187 466.154 262.057 476.064 262.057C485.975 262.057 493.7 253.993 493.7 244.082V147.451C493.7 117.864 509.246 100.18 535.238 100.18C544.226 100.18 551.805 92.6009 551.805 83.6131C551.805 74.6253 544.372 67.0464 535.238 67.0464Z"
              fill="white"></path>
            <path
              d="M745.942 67.7751C736.225 67.7751 728.306 75.6941 728.306 85.4107V90.9977C710.817 75.4998 688.614 67.0464 665.003 67.0464C611.319 67.0464 569.295 110.042 569.295 164.892C569.295 219.742 611.319 262.738 665.003 262.738C688.857 262.738 711.06 254.333 728.306 238.884V244.033C728.306 253.944 736.225 262.009 745.942 262.009C755.658 262.009 763.577 254.09 763.577 244.033V85.4107C763.577 75.4998 755.804 67.7751 745.942 67.7751ZM666.801 229.653C632.113 229.653 604.955 201.232 604.955 164.941C604.955 128.649 632.113 100.228 666.801 100.228C701.489 100.228 726.946 126.9 728.306 162.074V167.71C726.897 203.029 700.469 229.653 666.801 229.653Z"
              fill="white"></path>
            <path
              d="M982.639 0C972.922 0 965.003 7.91899 965.003 17.6355V90.9955C947.514 75.4976 925.311 67.0442 901.7 67.0442C848.016 67.0442 805.992 110.04 805.992 164.89C805.992 219.74 848.016 262.735 901.7 262.735C925.554 262.735 947.757 254.331 965.003 238.881V244.031C965.003 253.942 972.922 262.007 982.639 262.007C992.355 262.007 1000.27 254.088 1000.27 244.031V17.6355C1000.27 7.72466 992.55 0 982.639 0ZM903.498 229.602C868.81 229.602 841.652 201.181 841.652 164.89C841.652 128.599 868.81 100.178 903.498 100.178C938.186 100.178 963.643 126.85 965.003 162.023V167.659C963.594 202.979 937.165 229.602 903.498 229.602Z"
              fill="white"></path>
            <path
              d="M1068.54 67.7729C1058.62 67.7729 1050.9 75.5462 1050.9 85.4085V244.031C1050.9 254.136 1058.62 262.007 1068.54 262.007C1078.45 262.007 1086.17 253.942 1086.17 244.031V85.4085C1086.17 75.6919 1078.25 67.7729 1068.54 67.7729Z"
              fill="white"></path>
            <path
              d="M1068.53 8.54834C1056.63 8.54834 1047.3 17.8762 1047.3 29.7304C1047.3 41.5846 1056.82 50.9125 1068.53 50.9125C1080.24 50.9125 1089.71 41.1959 1089.71 29.7304C1089.71 18.2649 1080.19 8.54834 1068.53 8.54834Z"
              fill="white"></path>
            <path
              d="M1217.88 67.0464C1169.93 67.0464 1136.4 102.317 1136.4 152.795V244.082C1136.4 254.187 1144.13 262.057 1154.04 262.057C1163.95 262.057 1171.67 253.993 1171.67 244.082V152.115C1171.67 120.585 1189.8 100.228 1217.88 100.228C1245.96 100.228 1264.42 120.099 1264.42 152.115V244.082C1264.42 254.187 1272.19 262.057 1282.05 262.057C1291.92 262.057 1299.69 253.993 1299.69 244.082V152.795C1299.69 102.317 1266.07 67.0464 1217.88 67.0464Z"
              fill="white"></path>
            <path
              d="M1498.78 201.811C1492.42 201.811 1488.34 205.504 1484.11 209.342C1475.95 218.572 1461.52 229.601 1439.22 229.601C1404.53 229.601 1377.37 201.18 1377.37 164.888C1377.37 128.597 1404.53 100.176 1439.22 100.176C1450.1 100.176 1460.84 103.334 1468.56 108.727L1415.41 171.398C1412.6 174.216 1411.24 177.957 1411.24 182.718C1411.24 192.095 1418.33 198.945 1428.14 198.945C1433.1 198.945 1437.23 197.05 1440.73 193.115L1504.08 117.277C1507.87 113.099 1509.62 109.067 1509.62 104.306C1509.62 99.5446 1507.24 94.3948 1503.2 90.7997C1486.88 75.739 1463.56 67.0913 1439.22 67.0913C1384.56 67.0913 1341.71 110.087 1341.71 164.937C1341.71 219.787 1384.52 262.783 1439.22 262.783C1467.83 262.783 1494.12 251.026 1511.32 230.621C1514.43 227.074 1516.42 222.41 1516.42 218.767C1516.42 209.099 1508.84 201.86 1498.78 201.86"
              fill="white"></path>
          </g>
        </svg>
      </div>
    </div>
  </div>
</footer>
