<footer class="relative overflow-hidden">
  <div
    class="footer-container pt-32 h-[80vh] max-h-[1500px] flex flex-col gap-4"
    style="background: linear-gradient(180deg, #143C99 0%, #040C21 100%);"
  >
    <div class="container mx-auto grid gap2">
      <div class="footer-top
    grid
    grid-cols-1
    md:grid-cols-2">
        <div class="left grid grid-cols-1 md:grid-cols-2 gap-4">
          <ul class="flex flex-col gap-2">
            <li>
              <a href="" class="text-white text-sm gradient-overline"
                >Accessibility Settings</a
              >
            </li>
            <li>
              <a href="" class="text-white text-sm gradient-overline"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a href="" class="text-white text-sm gradient-overline">Contact</a
              >
            </li>
          </ul>
          <ul class="flex flex-col gap-2">
            <li><p class="text-white uppercase text-sm">CONTACT US</p></li>
            <li>
              <p class="text-white text-sm">
                3200 Coronado Drive <br class="hidden sm:inline" />
                Santa Clara, CA 95054
              </p>
            </li>
            <li>
              <a
                href="mailto:info@auradine.com"
                class="text-white text-sm gradient-overline"
                >info@auradine.com</a
              >
            </li>
          </ul>
        </div>
        <div class="rigth">SUBSCRIBE FORM</div>
      </div>
      <div class="footer-below"></div>
    </div>
    <div class="auradine-logo | mx-auto max-w-[1800px] w-[97vw] mt-auto">
      <div class="letters flex items-end justify-between opacity-10 w-full">
        <svg
          class="h-fit w-full"
          width="1512"
          height="263"
          viewBox="0 0 1512 263"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M173.647 67.7751C163.93 67.7751 156.011 75.6941 156.011 85.4107V90.9977C138.521 75.4998 116.319 67.0464 92.708 67.0464C39.0241 67.0464 -3 110.042 -3 164.892C-3 219.742 39.0241 262.738 92.708 262.738C116.562 262.738 138.764 254.333 156.011 238.884V244.033C156.011 253.944 163.93 262.009 173.647 262.009C183.363 262.009 191.282 254.09 191.282 244.033V85.4107C191.282 75.4998 183.558 67.7751 173.647 67.7751ZM94.5055 229.653C59.8175 229.653 32.6597 201.232 32.6597 164.941C32.6597 128.649 59.8175 100.228 94.5055 100.228C129.194 100.228 154.651 126.9 156.011 162.074V167.71C154.651 203.029 128.173 229.653 94.5055 229.653Z"
            fill="white"></path>
          <path
            d="M387.51 67.7729C377.599 67.7729 369.874 75.5462 369.874 85.4085V177.764C369.874 209.78 352.044 229.651 323.332 229.651C294.619 229.651 277.178 209.294 277.178 177.764V85.4085C277.178 75.6919 269.259 67.7729 259.543 67.7729C249.826 67.7729 241.907 75.5462 241.907 85.4085V176.695C241.907 227.367 275.381 262.784 323.38 262.784C371.38 262.784 405.194 227.367 405.194 176.695V85.4085C405.194 75.6919 397.275 67.7729 387.558 67.7729"
            fill="white"></path>
          <path
            d="M532.238 67.0464C486.279 67.0464 455.429 99.3539 455.429 147.451V244.082C455.429 254.187 463.154 262.057 473.064 262.057C482.975 262.057 490.7 253.993 490.7 244.082V147.451C490.7 117.864 506.246 100.18 532.238 100.18C541.226 100.18 548.805 92.6009 548.805 83.6131C548.805 74.6253 541.372 67.0464 532.238 67.0464Z"
            fill="white"></path>
          <path
            d="M742.942 67.7751C733.225 67.7751 725.306 75.6941 725.306 85.4107V90.9977C707.817 75.4998 685.614 67.0464 662.003 67.0464C608.319 67.0464 566.295 110.042 566.295 164.892C566.295 219.742 608.319 262.738 662.003 262.738C685.857 262.738 708.06 254.333 725.306 238.884V244.033C725.306 253.944 733.225 262.009 742.942 262.009C752.658 262.009 760.577 254.09 760.577 244.033V85.4107C760.577 75.4998 752.804 67.7751 742.942 67.7751ZM663.801 229.653C629.113 229.653 601.955 201.232 601.955 164.941C601.955 128.649 629.113 100.228 663.801 100.228C698.489 100.228 723.946 126.9 725.306 162.074V167.71C723.897 203.029 697.469 229.653 663.801 229.653Z"
            fill="white"></path>
          <path
            d="M979.639 0C969.922 0 962.003 7.91899 962.003 17.6355V90.9955C944.514 75.4976 922.311 67.0442 898.7 67.0442C845.016 67.0442 802.992 110.04 802.992 164.89C802.992 219.74 845.016 262.735 898.7 262.735C922.554 262.735 944.757 254.331 962.003 238.881V244.031C962.003 253.942 969.922 262.007 979.639 262.007C989.355 262.007 997.275 254.088 997.275 244.031V17.6355C997.275 7.72466 989.55 0 979.639 0ZM900.498 229.602C865.81 229.602 838.652 201.181 838.652 164.89C838.652 128.599 865.81 100.178 900.498 100.178C935.186 100.178 960.643 126.85 962.003 162.023V167.659C960.594 202.979 934.165 229.602 900.498 229.602Z"
            fill="white"></path>
          <path
            d="M1065.54 67.7729C1055.62 67.7729 1047.9 75.5462 1047.9 85.4085V244.031C1047.9 254.136 1055.62 262.007 1065.54 262.007C1075.45 262.007 1083.17 253.942 1083.17 244.031V85.4085C1083.17 75.6919 1075.25 67.7729 1065.54 67.7729Z"
            fill="white"></path>
          <path
            d="M1065.53 8.54834C1053.63 8.54834 1044.3 17.8762 1044.3 29.7304C1044.3 41.5846 1053.82 50.9125 1065.53 50.9125C1077.24 50.9125 1086.71 41.1959 1086.71 29.7304C1086.71 18.2649 1077.19 8.54834 1065.53 8.54834Z"
            fill="white"></path>
          <path
            d="M1214.88 67.0464C1166.93 67.0464 1133.4 102.317 1133.4 152.795V244.082C1133.4 254.187 1141.13 262.057 1151.04 262.057C1160.95 262.057 1168.67 253.993 1168.67 244.082V152.115C1168.67 120.585 1186.8 100.228 1214.88 100.228C1242.96 100.228 1261.42 120.099 1261.42 152.115V244.082C1261.42 254.187 1269.19 262.057 1279.05 262.057C1288.92 262.057 1296.69 253.993 1296.69 244.082V152.795C1296.69 102.317 1263.07 67.0464 1214.88 67.0464Z"
            fill="white"></path>
          <path
            d="M1495.78 201.811C1489.42 201.811 1485.34 205.504 1481.11 209.342C1472.95 218.572 1458.52 229.601 1436.22 229.601C1401.53 229.601 1374.37 201.18 1374.37 164.888C1374.37 128.597 1401.53 100.176 1436.22 100.176C1447.1 100.176 1457.84 103.334 1465.56 108.727L1412.41 171.398C1409.6 174.216 1408.24 177.957 1408.24 182.718C1408.24 192.095 1415.33 198.945 1425.14 198.945C1430.1 198.945 1434.23 197.05 1437.73 193.115L1501.08 117.277C1504.87 113.099 1506.62 109.067 1506.62 104.306C1506.62 99.5446 1504.24 94.3948 1500.2 90.7997C1483.88 75.739 1460.56 67.0913 1436.22 67.0913C1381.56 67.0913 1338.71 110.087 1338.71 164.937C1338.71 219.787 1381.52 262.783 1436.22 262.783C1464.83 262.783 1491.12 251.026 1508.32 230.621C1511.43 227.074 1513.42 222.41 1513.42 218.767C1513.42 209.099 1505.84 201.86 1495.78 201.86"
            fill="white"></path>
        </svg>
      </div>
    </div>
  </div>
</footer>
