---
import Link from "./Link.astro";
---

<div class="relative">
  <header
    class="bg-transparent text-white md:pt-4 lg:pt-8 flex align-center z-50 fixed w-full"
  >
    <div
      class="container w-[90vw] max-w-[1500px] mx-auto flex justify-between items-center py-4"
    >
      <a href="/" class="logo">
        <div class="logo-container flex items-center gap-2">
          <img src="/favicon.svg" class="h-8 | main" />
          <span class="sr-only">Auradine</span>
          <img src="/auradine.svg" alt="" class="h-5 | letters" />
        </div>
      </a>
      <nav>
        <button
          class="hamburger flex flex-col justify-between w-6 h-5 md:hidden"
          aria-label="Toggle menu"
          aria-expanded="false"
          id="hamburger"
        >
          <span class="bar h-0.5 w-full bg-white transition-all duration-300"
          ></span>
          <span class="bar h-0.5 w-full bg-white transition-all duration-300"
          ></span>
          <span class="bar h-0.5 w-full bg-white transition-all duration-300"
          ></span>
        </button>

        <ul
          class="hidden absolute bg-[#080C20] text-white opacity-100 md:opacity-80 md:bg-transparent top-[4rem] p-6 md:p-0 left-0 w-full h-auto md:h-auto md:w-auto md:static md:flex flex-col md:flex-row md:items-center gap-4 md:gap-8"
          id="nav-menu"
        >
          <li class="flex">
            <a
              class="gradient-overline py-2 mb-4 border-b-1 border-[#ffffff36] w-full md:border-0 md:p-0 md:m-0"
              href="/">About</a
            >
          </li>
          <li class="flex">
            <a
              class="gradient-overline py-2 mb-4 border-b-1 border-[#ffffff36] w-full md:border-0 md:p-0 md:m-0"
              href="/">Solutions</a
            >
          </li>
          <li class="flex">
            <a
              class="gradient-overline py-2 mb-4 border-b-1 border-[#ffffff36] w-full md:border-0 md:p-0 md:m-0"
              href="/">Resources</a
            >
          </li>
          <li class="flex">
            <a
              class="gradient-overline py-2 mb-4 border-b-1 border-[#ffffff36] w-full md:border-0 md:p-0 md:m-0"
              href="/">Careers</a
            >
          </li>
          <li class="flex">
            <a
              class="gradient-overline py-2 mb-4 border-b-1 border-[#ffffff36] w-full md:border-0 md:p-0 md:m-0"
              href="/">Support</a
            >
          </li>
          <div class="block md:hidden mt-4 mb-8">
            <Link href="/contact" text="Contact" />
          </div>
        </ul>
      </nav>
      <div class="hidden md:block">
        <Link href="/contact" text="Contact" />
      </div>
    </div>
  </header>
</div>
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburger = document.getElementById("hamburger");
    const main = document.querySelector("main");
    const navMenu = document.getElementById("nav-menu");

    hamburger.addEventListener("click", () => {
      navMenu.classList.toggle("hidden");
      hamburger.classList.toggle("open");
      main.classList.toggle("open-menu");

      //add aria expended
      const isExpanded = hamburger.getAttribute("aria-expanded") == "true";
      hamburger.setAttribute("aria-expanded", !isExpanded);
    });
  });
</script>
