---
const { href, text } = Astro.props;
---

<div class="anim-wrapper">
  <div class="liquidGlass-wrapper">
    <div class="liquidGlass-effect"></div>
    <div class="liquidGlass-tint"></div>
    <div class="liquidGlass-shine"></div>
    <div class="liquidGlass-text">
      <a
        href={href}
        class="cta flex items-center gap-2 font-base | w-fit px-9 py-4 rounded-full h-fit font-normal text-[14px] leading-[19.6px] tracking-[0] text-center align-middle"
        ><span>{text}</span>
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            ><path
              fill="#fff"
              fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
            ></path></svg
          ></span
        ></a
      >
    </div>
  </div>
</div>
